@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

*
{
    padding: 0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Sora';
}

:root
{
    --Morado: #883AE1;
    --Morado-claro: #E6D6FC;
    --Gris-claro: #E5EAF0;
    --Fondo: #FAFAF9;
    --Fondo-blog: #FFFFFF;
    --Negro: #20293A;
    --Negro-oscuro: #6C727F;
}

body
{
    background-color: var(--Fondo);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 14px;
}

.blog-card
{
    background-color: var(--Fondo-blog);
    border-radius: 16px;
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
}

.blog-card img
{
    border-radius: 16px;
    margin: 16px;
}

.blog-card span.design
{
    background-color: var(--Morado-claro);
    color: var(--Morado);
    border-radius: 16px;
    padding: 6px 16px;
    max-width: max-content;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 10px;
}

.blog-card h1
{
    font-size: 18px;
    padding-top: 16px;
    padding-bottom: 6px;
    margin-left: 16px;
    margin-right: 16px;
}

.blog-card p
{
    padding-left: 16px;
    padding-bottom: 20px;
    color: var(--Negro-oscuro);
    font-size: 12px;
}

.blog-card p.author
{
    font-size: 12px;
    padding-top: 20px;
    padding-left: 16px;
    padding-bottom: 20px;
    color: var(--Negro-oscuro);
    border-top: 1px #E5EAF0 solid;
}