*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #FAFAF9;
    font-family: 'Sora';
    font-size: 0.875rem;
}

.blog-card{
    background-color: #FFFFFF;
    border-radius: 16px 16px 16px 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    box-shadow: 6px 6px 20px #6c727f67;
}

.blog-card img
{
    border-radius: 16px 16px 16px 16px;
    margin: 16px;
}

.blog-card h1
{
    background-color: #E6D6FC;
    color: #883AE1;
    border-radius: 16px;
    max-width: max-content;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 16px;
    padding-left: 16px;
    margin-left: 16px;
    font-size:  0.625rem;
    margin-bottom: 16px;
}

.blog-card h2
{
    padding-left: 16px;
    padding-bottom: 6px;
    font-size: 1.125rem;
}

.blog-card p.description
{
    padding-left: 16px;
    color: #6C727F;
    padding-right: 16px;
    font-size: 0.75rem;
    margin-bottom: 20px;
}

.blog-card p.author
{
    padding-left: 16px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: 1px #E5EAF0 solid;
    color: #6C727F;
    font-size: 0.75rem;
}